package views

templ Admin() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>METEGO</title>
			<meta charset="UTF-8"/>
		</head>
		<body>
			<h1>Admin</h1>
            <ul>
                <li><a href="/birthdays">birthdays</a></li>
                <li><a href="/appointments">appointments</a></li>
            </ul>
		</body>
	</html>
}