/* General */
@font-face {
    font-family: "Virgil";
    src: url("../fonts/Virgil.woff2") format("woff2");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Virgil";
}

/* Section start: Menu */
#menu {
    background-color: #FFEEA9;
    font-size: 42px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
}

#menu-city span {
    text-transform: capitalize;
}

#menu-date {
    text-transform: capitalize;
}
/* Section end: Menu */

/* Section start: current weather */
#current-weather-card {
    border-radius: 25px;
    border: 2px solid #FFBF78;
    width: 500px;
}

#current-weather-card-img img {
    width: 250px;
}

#current-weather-card-temperature {
    font-size: 68px;
    display: flex;
    align-items: center;
    text-align: center;
}

#current-weather-card-description {
    font-size: 36px;
    text-align: center;
    padding-bottom: 10px;
}

#current-weather-card-description span {
    text-transform: capitalize;
}

#current-weather-card-img-temp {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
}

#current-weather {
    padding-top: 25px;
    padding-left: 25px;
    width: fit-content;
}

#current-weather-container {
    width: fit-content;
}
/* Section end: current weather */

/* Section start: current/forecast weather row */
#current-weather-forecast {
    display: flex;
}
/* Section end: current/forecast weather row */

/* Section start: forecast weather */
#forecast-weather-cards {
    border-radius: 25px;
    border: 2px solid #FFBF78;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 291px;
}

#forecast-weather {
    padding-top: 25px;
    padding-left: 25px;
    width: 700px;
}

#forecast-weather-card {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#forecast-weather-card-date {
    font-size: 32px;
}

#forecast-weather-card-img img {
    width: 90px;
}

#forecast-weather-card-max-temp {
    font-size: 36px;
    color: #ad002b;
}

#forecast-weather-card-min-temp {
    font-size: 28px;
    color: #0080ab;
}

#forecast-weather-card-rain {
    display: flex;
    font-size: 24px;
}

#forecast-weather-card-rain img {
    width: 18px;
}
/* Section end: forecast weather */

/* Section start: calendar events*/
#calendar-events {
    height: 50px;
    overflow: hidden;
    position: relative;
    background-color: #FFBF78;
    padding-top: 20px;
    padding-bottom: 20px;
}

#calendar-events p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    transform:translateX(100%);
    /* Apply animation to this element */
    -moz-animation: scroll-left 20s linear infinite;
    -webkit-animation: scroll-left 20s linear infinite;
    animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
    0% { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes scroll-left {
    0% { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%); /* Browser bug fix */
        -webkit-transform: translateX(100%); /* Browser bug fix */
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%); /* Browser bug fix */
        -webkit-transform: translateX(-100%); /* Browser bug fix */
        transform: translateX(-100%);
    }
}
/* Section end: calendar events*/
